{%extends 'base.html'%} {%block body%}
<div>
    <form action="{%url 'expense:searchExpense' %}" method="POST">
        {%csrf_token%}
        <textarea cols="80" rows="3" name="search"></textarea>
        <input type="submit" value="Search">
    </form>
    <br>
    <br>
</div>
<table cellspacing="10" border="1">

    <tr>
        <th>Id</th>
        <th>Expense</th>
        <th>ExpenseType</th>
        <th>ExpenseDate</th>
        <th>Descrption</th>
        <th>User</th>
        <th colspan="2">Action</th>
    </tr>
    {%for i in expl%}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.expense}}</td>
        <td>{{i.expenseType}}</td>
        <td>{{i.expenseDate}}</td>
        <td>{{i.description}}</td>
        <td>{{i.user}}</td>
        <td><a href="">Delete</a></td>
        <td><a href="">Edit</a></td>
    </tr>


    {%endfor%}

</table>
{%endblock%}